// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~material-icons/iconfont/material-icons.scss';

.el-loading-spinner {
    display: flex;
    justify-content: center;
}

.nav i {
    width: 16px;
    height: 16px;
}

.nav .header {
    svg {
        width: 3em;
        height: 3em;
    }
    span {
        font-size: 1.5em;
    }
}

.nav .active {
    background-color: #212121 !important;
}
